* {
    margin: 0;
    padding: 0;
  }

  .container {
    margin-top: 15px;
    text-align: center;

  }
  
  .container-content-center {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    border: 1px solid black;
  }
  
  .caja-sugerencias {
    margin-top: 5px;
    min-height: 95px;
  }
  
  .sugerencia {
    cursor: pointer;

  }
  
  .sugerencia:hover {
    background-color: rgb(225, 225, 225);
  }
  
  #mapa {
    height: 800px;
    width: 100%;
  
  }
  